/* @IMPORT START HERE */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap");
/* @IMPORT END HERE */

/* ROOT STYLE START HERE */
:root {
  --red: #e26868;
  --pink: #ff8787;
  --light-grey: #ededed;
  --grey: #d8d9cf;
}
/* ROOT STYLE END HERE  */

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s ease-out;
  font-family: Poppins;
}

/* Header container */
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(10px);
  padding: 1rem 9%;
  justify-content: space-between;
  z-index: 1000;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ff9c99;
  background-image: radial-gradient(
      at 32% 68%,
      hsla(40, 73%, 63%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 77%, hsla(85, 75%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 17%, hsla(210, 66%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 65% 15%, hsla(351, 88%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 5% 76%, hsla(113, 75%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 41% 84%, hsla(74, 69%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 70% 57%, hsla(0, 62%, 75%, 1) 0px, transparent 50%);
  /* background: url(./img/bg1.jpg) no-repeat; */
  /* background-size: cover; */
  /* background-position: center; */
}

.content {
  max-width: 650px;
  margin: 300px 200px;
}

.content h3 {
  color: #fff;
  font-size: 3.5rem;
  line-height: 60px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.content p {
  color: #fff;
  margin-bottom: 30px;
}

.content .btn {
  display: inline-block;
  background-color: #ff773d;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
}

.content .btn:hover {
  background-color: #e26868;
  box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
}

/* Logo image */
.header .logo img {
  height: 64px;
  width: 114px;
}

/* Navbar Menu */
.header .navbar a {
  margin: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.header .navbar a:hover {
  color: #181818;
  text-decoration: underline;
}
