/* @IMPORT START HERE */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap");
/* @IMPORT END HERE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #e3f2fd;
}

.select-menu {
  width: 380px;
  margin: 150px auto;
}

.select-menu .select-btn {
  display: flex;
  height: 55px;
  background-color: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn .chev {
  font-size: 18px;
  transition: 0.3s;
}

.select-menu .options {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  display: none;
}

.select-menu.active .options {
  display: block;
}

.select-menu.active .select-btn .chev {
  transform: rotate(-180deg);
}

.options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  align-items: center;
  padding: 0 1rem;
  background-color: #fff;
  border-radius: 8px;
  transition: 0.3s;
}

.options .option:hover {
  background-color: #f2f2f2;
}

.option .icons {
  font-size: 25px;
  margin-right: 12px;
}

.option .option-text {
  font-size: 18px;
  color: #333;
}
