/* @import here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/robert-ritchie-3BLry98ZLA4-unsplash.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section form {
  width: 100%;
  max-width: 700px;
  border-radius: 50px;
  background-color: rgba(248, 248, 248, 0.699);
  display: flex;
  align-items: center;
}

section form input {
  flex: 1;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
}

form button {
  padding: 10px;
  margin-right: 20px;
  border: none;
  background: transparent;
}

form button .fa-magnifying-glass {
  font-size: 30px;
}
