/* @import here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

/* ROOT START */
:root{
    --green: #16a085;
    --black: #444;
    --light-color: #777;
    --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
    --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    --border: 0.2rem solid var(--green)
}
/* ROOT END */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    transition: all .2s ease-out;
    text-decoration: none;
}

body{
    padding-top: 50px;
    text-align: center;
}

/* Button Style 1 start */

.btn{
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.25rem;
    color: var(--green);
    border: 0.2rem solid var(--green);
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    margin-top: 100px;
}

.btn:hover{
    color: white;
    background-color: var(--green);
    padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.btn span{
    margin-left: .5rem;
}

/* button 1 style end  */

/* ************************************************** */

/* button 2 style start */

.btn2{
    display: inline-block;
    margin-top: 50px;
    background-color: #3f16a0;
    color: white;
    padding: .5rem .8rem;
    border-radius: 5px;
}

.btn2:hover{
    background-color: white;
    color: #3f16a0;
    border: 2px solid #3f16a0;
    font-weight: 700;
    box-shadow: var(--text-shadow);
}

/* button 2 style end */
